{{!-- login form --}}
<section class="card">
  <h2 class="card-header">Login</h2>
  <form class="login-form card-body">
    <div>
      <label for="username-login" class="form-label">Username:</label>
      <input type="text" id="username-login" />
    </div>
    <div>
      <label for="password-login" class="form-label">Password:</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button type="submit" class="btn">Login</button>
    </div>
  </form>
</section>





{{!-- sign-up form --}}


<section class="card">
  <h2 class="card-header">Signup</h2>

  <form class="signup-form card-body">
    <div>
      <label for="username-signup" class="form-label">Username:</label>
      <input type="text" id="username-signup" />
    </div>
    <div>
      <label for="password-signup" class="form-label">Password:</label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit" class="btn">Signup</button>

    </div>
  </form>
</section>


<script src="/javascript/login.js"></script>