.nav-bar{
  background-color: black;
}

body {
  content: "";
  background: url('/img/records.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

#card-fix {
  background-image: url('/img/records.jpg');
  background-color: rgba(245, 245, 245, 1);
  text-align: center;
  float:center;
  padding-right: 0;
  margin-right: 0;
  position:relative ;
  left: 50%;
  text-shadow: 5px 5px 5px 5px gray;
  opacity: 1;
}

#post-card {
  background-image: url('/img/records.jpg');
  background-color: rgba(245, 245, 245, 1);
  text-align: center;
  float:center;
  padding-right: 0;
  margin-right: 0;
  position: relative;
  left: 110%;
  text-shadow: 5px 5px 5px 5px gray;
  opacity: 1;
}

h4, label {
  color: #EE82EE;
}

#your-post {
  text-align: center;
  padding-left: 20%;
  size: 100%;
}

.btn {
  box-shadow: 0 3px 0 0 #007299;
  color: #EE82EE !important;
}


input[type=text] {
  background-color: #C0C0C0 !important;
}


input[type=password] {
  background-color: #C0C0C0 !important;
}

div.card-body {
  background-color: #C0C0C0;
}










  /* .nav-pills .nav-link:not(.active) {
    background-color: #b28dc0;
    color: white;
} */



